/* _hero.scss */
@use "../abstracts/variables" as *;


    

.hero{
    display:grid;
  


  &__text{
      padding-inline:2rem;
  }

    &__title{
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 400;
        font-style: normal;
        line-height: 2.93rem;
       white-space: nowrap;
       margin-block-end:7px;
      
    }
    &__subtitle{
        text-transform: uppercase;
        font-weight: 400;
        font-style: normal;
        line-height: 2.1rem;
        white-space: nowrap;
        margin-block-end:15px;
        font-size: 36px;
    }
    &__description{
        font-family:'Roboto', sans-serif;
        font-size: 1.5rem;
        line-height:30px;
        position: absolute;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.1px;
        min-width: 34ch;
    
    }
//mobile
    &__image{
    position: relative;
    background-image: url("../images/hero-image.svg");
    width:600px;
    height:500px;
    transform: scale(1);
    margin-block-start: 8rem;
    background-position: -215px;

    background-repeat: no-repeat;
    margin-block-end:1.5rem;

}


//button
.cta{
    
    &__btn{
        display: flex;
       
        max-width:400px;
        width: 100%;
       // margin-block-start:4rem;
        bottom: 10%;
        justify-content: center;
        margin:auto;
        padding:15px;
        border-radius: 2rem;
        background-color: #2B2F47;
        color:white; 
        border:#2B2F47;
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }
}



/* Medium devices (landscape tablets, 768px ) */
@media only screen and (min-width: 560px) {

    .hero{
        &__description{
            max-width: 65ch;
            margin-block-end: 5px;
            
        }
        &__image{
            position: relative;
            margin-block-start: 10%;
            width:1262px;
            height:500px;
            transform: scale(1);
            margin-inline-start: auto;
            background-position: 50px;
            z-index: 1;
    
        }

        
    }
    .cta{
        &__btn{

            position: absolute;
           // display: flex;
           // margin:0;
          justify-content: center;
          text-align: center;
          margin-inline-start: 30px;
         // margin-block-end: 40px;
          margin-top: 50px;
         // padding-bottom: 2px;
          z-index: 2;
          top: 50%;
          bottom: 30%;
        }
    }
    
}




@media only screen and (max-width:560px) {
        

.hero{
    display:grid;
  


  &__text{
      padding-inline:2rem;
  }

    &__title{
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 400;
        font-style: normal;
        line-height: 2.93rem;
       white-space: nowrap;
       margin-block-end:7px;
      
    }
    &__subtitle{
        text-transform: uppercase;
        font-weight: 400;
        font-style: normal;
        line-height: 2.1rem;
        white-space: nowrap;
        margin-block-end:15px;
        font-size: 36px;
    }
    &__description{
        font-family:'Roboto', sans-serif;
        font-size: 1.5rem;
        line-height:30px;
        position: absolute;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.1px;
        min-width: 34ch;
    
    }
//mobile
    &__image{
    position: relative;
    background-image: url("../images/hero-image.svg");
    width:600px;
    height:500px;
    transform: scale(1);
    margin-block-start: 8rem;
    background-position: -215px;

    background-repeat: no-repeat;
    margin-block-end:1.5rem;

}


//button
.cta{
    
    &__btn{
        display: flex;
       
        max-width:400px;
        width: 100%;
       // margin-block-start:4rem;
        bottom: 10%;
        justify-content: center;
        margin:auto;
        padding:15px;
        border-radius: 2rem;
        background-color: #2B2F47;
        color:white; 
        border:#2B2F47;
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }
}

}
}}